In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('NISPUF17.csv')

In [3]:
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [6]:
list(df)

['Unnamed: 0',
 'SEQNUMC',
 'SEQNUMHH',
 'PDAT',
 'PROVWT_D',
 'RDDWT_D',
 'STRATUM',
 'YEAR',
 'AGECPOXR',
 'HAD_CPOX',
 'AGEGRP',
 'BF_ENDR06',
 'BF_EXCLR06',
 'BF_FORMR08',
 'BFENDFL06',
 'BFFORMFL06',
 'C1R',
 'C5R',
 'CBF_01',
 'CEN_REG',
 'CHILDNM',
 'CWIC_01',
 'CWIC_02',
 'EDUC1',
 'FRSTBRN',
 'I_HISP_K',
 'INCPORAR',
 'INCPORAR_I',
 'INCPOV1',
 'INCQ298A',
 'LANGUAGE',
 'M_AGEGRP2',
 'MARITAL2',
 'MOBIL_I',
 'NUM_PHONE',
 'NUM_CELLS_HH',
 'NUM_CELLS_PARENTS',
 'RACE_K',
 'RACEETHK',
 'RENT_OWN',
 'SEX',
 'ESTIAP17',
 'EST_GRANT',
 'STATE',
 'D6R',
 'D7',
 'N_PRVR',
 'PROV_FAC',
 'REGISTRY',
 'VFC_ORDER',
 'HEP_BRTH',
 'HEP_FLAG',
 'P_NUHEPX',
 'P_NUHIBX',
 'P_NUHPHB',
 'P_NUMDAH',
 'P_NUMDHI',
 'P_NUMDIH',
 'P_NUMDTA',
 'P_NUMDTP',
 'P_NUMFLU',
 'P_NUMFLUL',
 'P_NUMFLUM',
 'P_NUMFLUN',
 'P_NUMHEA',
 'P_NUMHEN',
 'P_NUMHEP',
 'P_NUMHG',
 'P_NUMHHY',
 'P_NUMHIB',
 'P_NUMHIN',
 'P_NUMHION',
 'P_NUMHM',
 'P_NUMHS',
 'P_NUMIPV',
 'P_NUMMCN',
 'P_NUMMMR',
 'P_NUMMMRX',
 'P_NUMMMX',
 'P_NUMMP',
 'P_NUMMPR',
 'P_NUMMRV',
 'P_NUMMS',
 'P_NUMMSM',
 'P_NUMMSR',
 'P_NUMOLN',
 'P_NUMOPV',
 'P_NUMPCV',
 'P_NUMPCP',
 'P_NUMPCC',
 'P_NUMPCC7',
 'P_NUMPCC13',
 'P_NUMPCCN',
 'P_NUMPCN',
 'P_NUMPOL',
 'P_NUMRB',
 'P_NUMRG',
 'P_NUMRM',
 'P_NUMRO',
 'P_NUMROT',
 'P_NUMTPN',
 'P_NUMVRC',
 'P_NUMVRN',
 'P_NUMVRX',
 'P_U12VRC',
 'P_UTD331',
 'P_UTD431',
 'P_UTDHEP',
 'P_UTDHEPA1',
 'P_UTDHEPA2',
 'P_UTDHIB',
 'P_UTDHIB_ROUT_S',
 'P_UTDHIB_SHORT_S',
 'P_UTDMCV',
 'P_UTDMMX',
 'P_UTDPC3',
 'P_UTDPCV',
 'P_UTDPCVB13',
 'P_UTDPOL',
 'P_UTDROT_S',
 'P_UTDTP3',
 'P_UTDTP4',
 'PU431331',
 'P_UTD431H31_ROUT_S',
 'PU431_31',
 'PU4313313',
 'P_UTD431H313_ROUT_S',
 'PU4313314',
 'P_UTD431H314_ROUT_S',
 'PU431_314',
 'PUT43133',
 'P_UTD431H3_ROUT_S',
 'PUTD4313',
 'P_UTD431H_ROUT_S',
 'U1D_HEP',
 'U2D_HEP',
 'U3D_HEP',
 'DDTP1',
 'DDTP2',
 'DDTP3',
 'DDTP4',
 'DDTP5',
 'DDTP6',
 'DDTP7',
 'DDTP8',
 'DDTP9',
 'DFLU1',
 'DFLU2',
 'DFLU3',
 'DFLU4',
 'DFLU5',
 'DFLU6',
 'DFLU7',
 'DFLU8',
 'DFLU9',
 'DHEPA1',
 'DHEPA2',
 'DHEPA3',
 'DHEPA4',
 'DHEPA5',
 'DHEPA6',
 'DHEPA7',
 'DHEPA8',
 'DHEPA9',
 'DHEPB1',
 'DHEPB2',
 'DHEPB3',
 'DHEPB4',
 'DHEPB5',
 'DHEPB6',
 'DHEPB7',
 'DHEPB8',
 'DHEPB9',
 'DHIB1',
 'DHIB2',
 'DHIB3',
 'DHIB4',
 'DHIB5',
 'DHIB6',
 'DHIB7',
 'DHIB8',
 'DHIB9',
 'DMMR1',
 'DMMR2',
 'DMMR3',
 'DMMR4',
 'DMMR5',
 'DMMR6',
 'DMMR7',
 'DMMR8',
 'DMMR9',
 'DMP1',
 'DMP2',
 'DMP3',
 'DMP4',
 'DMP5',
 'DMP6',
 'DMP7',
 'DMP8',
 'DMP9',
 'DMPRB1',
 'DMPRB2',
 'DMPRB3',
 'DMPRB4',
 'DMPRB5',
 'DMPRB6',
 'DMPRB7',
 'DMPRB8',
 'DMPRB9',
 'DPCV1',
 'DPCV2',
 'DPCV3',
 'DPCV4',
 'DPCV5',
 'DPCV6',
 'DPCV7',
 'DPCV8',
 'DPCV9',
 'DPOLIO1',
 'DPOLIO2',
 'DPOLIO3',
 'DPOLIO4',
 'DPOLIO5',
 'DPOLIO6',
 'DPOLIO7',
 'DPOLIO8',
 'DPOLIO9',
 'DRB1',
 'DRB2',
 'DRB3',
 'DRB4',
 'DRB5',
 'DRB6',
 'DRB7',
 'DRB8',
 'DRB9',
 'DROT1',
 'DROT2',
 'DROT3',
 'DROT4',
 'DROT5',
 'DROT6',
 'DROT7',
 'DROT8',
 'DROT9',
 'DVRC1',
 'DVRC2',
 'DVRC3',
 'DVRC4',
 'DVRC5',
 'DVRC6',
 'DVRC7',
 'DVRC8',
 'DVRC9',
 'DTP1_AGE',
 'DTP2_AGE',
 'DTP3_AGE',
 'DTP4_AGE',
 'DTP5_AGE',
 'DTP6_AGE',
 'DTP7_AGE',
 'DTP8_AGE',
 'DTP9_AGE',
 'FLU1_AGE',
 'FLU2_AGE',
 'FLU3_AGE',
 'FLU4_AGE',
 'FLU5_AGE',
 'FLU6_AGE',
 'FLU7_AGE',
 'FLU8_AGE',
 'FLU9_AGE',
 'HEA1_AGE',
 'HEA2_AGE',
 'HEA3_AGE',
 'HEA4_AGE',
 'HEA5_AGE',
 'HEA6_AGE',
 'HEA7_AGE',
 'HEA8_AGE',
 'HEA9_AGE',
 'HEP1_AGE',
 'HEP2_AGE',
 'HEP3_AGE',
 'HEP4_AGE',
 'HEP5_AGE',
 'HEP6_AGE',
 'HEP7_AGE',
 'HEP8_AGE',
 'HEP9_AGE',
 'HIB1_AGE',
 'HIB2_AGE',
 'HIB3_AGE',
 'HIB4_AGE',
 'HIB5_AGE',
 'HIB6_AGE',
 'HIB7_AGE',
 'HIB8_AGE',
 'HIB9_AGE',
 'MMR1_AGE',
 'MMR2_AGE',
 'MMR3_AGE',
 'MMR4_AGE',
 'MMR5_AGE',
 'MMR6_AGE',
 'MMR7_AGE',
 'MMR8_AGE',
 'MMR9_AGE',
 'MP1_AGE',
 'MP2_AGE',
 'MP3_AGE',
 'MP4_AGE',
 'MP5_AGE',
 'MP6_AGE',
 'MP7_AGE',
 'MP8_AGE',
 'MP9_AGE',
 'MPR1_AGE',
 'MPR2_AGE',
 'MPR3_AGE',
 'MPR4_AGE',
 'MPR5_AGE',
 'MPR6_AGE',
 'MPR7_AGE',
 'MPR8_AGE',
 'MPR9_AGE',
 'PCV1_AGE',
 'PCV2_AGE',
 'PCV3_AGE',
 'PCV4_AGE',
 'PCV5_AGE',
 'PCV6_AGE',
 'PCV7_AGE',
 'PCV8_AGE',
 'PCV9_AGE',
 'POL1_AGE',
 'POL2_AGE',
 'POL3_AGE',
 'POL4_AGE',
 'POL5_AGE',
 'POL6_AGE',
 'POL7_AGE',
 'POL8_AGE',
 'POL9_AGE',
 'RB1_AGE',
 'RB2_AGE',
 'RB3_AGE',
 'RB4_AGE',
 'RB5_AGE',
 'RB6_AGE',
 'RB7_AGE',
 'RB8_AGE',
 'RB9_AGE',
 'ROT1_AGE',
 'ROT2_AGE',
 'ROT3_AGE',
 'ROT4_AGE',
 'ROT5_AGE',
 'ROT6_AGE',
 'ROT7_AGE',
 'ROT8_AGE',
 'ROT9_AGE',
 'VRC1_AGE',
 'VRC2_AGE',
 'VRC3_AGE',
 'VRC4_AGE',
 'VRC5_AGE',
 'VRC6_AGE',
 'VRC7_AGE',
 'VRC8_AGE',
 'VRC9_AGE',
 'XDTPTY1',
 'XDTPTY2',
 'XDTPTY3',
 'XDTPTY4',
 'XDTPTY5',
 'XDTPTY6',
 'XDTPTY7',
 'XDTPTY8',
 'XDTPTY9',
 'XFLUTY1',
 'XFLUTY2',
 'XFLUTY3',
 'XFLUTY4',
 'XFLUTY5',
 'XFLUTY6',
 'XFLUTY7',
 'XFLUTY8',
 'XFLUTY9',
 'XHEPTY1',
 'XHEPTY2',
 'XHEPTY3',
 'XHEPTY4',
 'XHEPTY5',
 'XHEPTY6',
 'XHEPTY7',
 'XHEPTY8',
 'XHEPTY9',
 'XHIBTY1',
 'XHIBTY2',
 'XHIBTY3',
 'XHIBTY4',
 'XHIBTY5',
 'XHIBTY6',
 'XHIBTY7',
 'XHIBTY8',
 'XHIBTY9',
 'XMMRTY1',
 'XMMRTY2',
 'XMMRTY3',
 'XMMRTY4',
 'XMMRTY5',
 'XMMRTY6',
 'XMMRTY7',
 'XMMRTY8',
 'XMMRTY9',
 'XPCVTY1',
 'XPCVTY2',
 'XPCVTY3',
 'XPCVTY4',
 'XPCVTY5',
 'XPCVTY6',
 'XPCVTY7',
 'XPCVTY8',
 'XPCVTY9',
 'XPOLTY1',
 'XPOLTY2',
 'XPOLTY3',
 'XPOLTY4',
 'XPOLTY5',
 'XPOLTY6',
 'XPOLTY7',
 'XPOLTY8',
 'XPOLTY9',
 'XROTTY1',
 'XROTTY2',
 'XROTTY3',
 'XROTTY4',
 'XROTTY5',
 'XROTTY6',
 'XROTTY7',
 'XROTTY8',
 'XROTTY9',
 'XVRCTY1',
 'XVRCTY2',
 'XVRCTY3',
 'XVRCTY4',
 'XVRCTY5',
 'XVRCTY6',
 'XVRCTY7',
 'XVRCTY8',
 'XVRCTY9',
 'INS_STAT2_I',
 'INS_BREAK_I']

In [20]:
df=df[['CBF_01','P_NUMFLU']]
df.isna().sum()
df=df[df["P_NUMFLU"].notna()]
df
tot1=len(df[df['CBF_01']==1])
tot2=len(df[df['CBF_01']==2])

mi=df[df['CBF_01']==1]['P_NUMFLU'].sum()
notmi=df[df['CBF_01']==2]['P_NUMFLU'].sum()
print(mi/tot1, notmi/tot2)

1.8799187420058687 1.5963945918878317

In [21]:
df=df[['CBF_01','P_NUMFLU']]

In [22]:
df

       CBF_01  P_NUMFLU
3           2       3.0
4           1       0.0
6           1       0.0
7           1       0.0
8           1       0.0
...       ...       ...
28446       1       2.0
28447       2       1.0
28449       1       4.0
28452       2       2.0
28454       1       0.0

[15333 rows x 2 columns]

In [23]:
df=df[df["P_NUMFLU"].notna()]
df

       CBF_01  P_NUMFLU
3           2       3.0
4           1       0.0
6           1       0.0
7           1       0.0
8           1       0.0
...       ...       ...
28446       1       2.0
28447       2       1.0
28449       1       4.0
28452       2       2.0
28454       1       0.0

[15333 rows x 2 columns]

In [24]:
tot1=len(df[df['CBF_01']==1])

In [25]:
tot1

13291

In [26]:
tot2=len(df[df['CBF_01']==2])

In [27]:
tot2

1997

In [28]:
mi=df[df['CBF_01']==1]['P_NUMFLU'].sum()

In [29]:
mi

24986.0

In [31]:
df['CBF_01'].head(50)

3     2
4     1
6     1
7     1
8     1
10    1
12    1
16    1
19    1
20    1
21    1
22    2
24    1
25    1
26    1
27    1
28    2
29    2
30    1
34    1
35    1
36    1
39    1
40    1
41    1
43    1
44    1
46    1
47    1
49    1
53    1
56    1
58    1
60    1
65    1
66    1
68    1
69    1
72    1
73    1
74    1
76    2
77    1
78    1
80    1
82    1
83    2
84    1
85    1
87    2
Name: CBF_01, dtype: int64